### Passo 1: Iniciando o Navegador no site que queremos

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

driver = webdriver.Chrome()
driver.get('https://www.kaggle.com/sakshigoyal7/credit-card-customers')
time.sleep(2)

### Passo 2: Fazer o download do Arquivo

In [2]:
#abre página de login
driver.find_element_by_xpath('//*[@id="site-container"]/div/div[1]/div[2]/div[2]/div/div[1]/a/button/span').click()

In [3]:
#espera página de login carregar
while len(driver.find_elements_by_class_name(r'bnvGEB')) == 0:
    pass
#clica em login por email
driver.find_elements_by_class_name(r'sc-Arkif')[2].click()

In [4]:
#espera página de login carregar
while len(driver.find_elements_by_class_name('mdc-text-field__input')) == 0:
    pass
driver.find_elements_by_class_name('mdc-text-field__input')[0].send_keys('gabriel.tavaresferrarezanuncios@gmail.com')
driver.find_element_by_class_name('evMPpD').click()
time.sleep(1)

#preenche login
driver.find_elements_by_class_name('mdc-text-field__input')[0].send_keys('gabriel.tavaresferrarezanuncios@gmail.com')
driver.find_elements_by_class_name('mdc-text-field__input')[1].send_keys('@123quatro')
driver.find_element_by_class_name('evMPpD').click()
time.sleep(5)

In [5]:
#clica em download
driver.find_element_by_xpath('//*[@id="site-content"]/div[3]/div[1]/div/div/div[2]/div[2]/div[1]/div[2]/a/button').click()

### Passo 3: Unzipar o Arquivo (Extrair da pasta zip)

In [9]:
import zipfile
import os


origin_path = r'C:\Users\gabri\Downloads\archive.zip'
destin_path = r'C:\Users\gabri\OneDrive\Documents\Cursos\Python Completo\Mentoria Automação cartão crédito\archive.zip'
unzip_path = r'C:\Users\gabri\OneDrive\Documents\Cursos\Python Completo\Mentoria Automação cartão crédito'

while not(os.path.exists(origin_path)):
    pass
os.replace(origin_path, destin_path)

with zipfile.ZipFile(destin_path,'r') as zip_ref:
    zip_ref.extractall(unzip_path)

### Passo 4: Importar o arquivo pro nosso computador com o pandas

In [21]:
import pandas as pd

file_path = r'C:\Users\gabri\OneDrive\Documents\Cursos\Python Completo\Mentoria Automação cartão crédito\BankChurners.csv'

clientes_df = pd.read_csv(file_path)

display(clientes_df)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

### Passo 5: Calcular os indicadores para enviar para a diretoria:

    1 - Quantos clientes Ativos e Quantos Clientes em Disputa Temos?
    2 - Dos Clientes Ativos, como está a distribuição por tipo de cartão
    3 - Qual o tempo médio de permanência e o limite de crédito médio dos nosso clientes (totais e ex-clientes)?

In [20]:
resumo_status = clientes_df.groupby('Attrition_Flag')['Attrition_Flag'].count()
print(resumo_status.to_string())

Attrition_Flag
Attrited Customer    1627
Existing Customer    8500

In [35]:
clientes_ativos = clientes_df.loc[clientes_df['Attrition_Flag'] == 'Existing Customer', ['Attrition_Flag', 'Card_Category']]
resumo_cartoes =  clientes_ativos.groupby('Card_Category')['Card_Category'].count()
resumo_cartoes.index.names = ['Categoria do Card - Clientes ativos']


print(resumo_cartoes.to_string())

Categoria do Card - Clientes ativos
Blue        7917
Gold          95
Platinum      15
Silver       473

In [53]:
tempo_medio = clientes_df['Months_on_book'].mean()
print(f'Tempo médio: {tempo_medio:.1f} meses')
clientes_inativos = clientes_df.loc[clientes_df['Attrition_Flag'] == 'Attrited Customer', :]
limite_exclientes = clientes_inativos['Credit_Limit'].mean()
print(f'Crédito médio de ex clientes: R${limite_exclientes:.2f}')

Tempo médio: 35.9 meses
Crédito médio de ex clientes: R$8136.04

### Passo 6: Enviar e-mail para chefe